body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}
.global_container {
  min-height: calc(100vh - 40px);
  position: relative;
  background: #fdf4ed;
  overflow: hidden;
}
/*====  espaçamentos ============================ */
.espaçamento_01 {
  width: 100%;
  height: 30px;
  position: relative;
  background: #926645;
  overflow: hidden;
}
.espaçamento_02 {
  width: 100%;
  height: 110px;
  position: relative;
  background: #926645;
  overflow: hidden;
  padding-top: 70px;
}
.espaçamento_03 {
  width: 100%;
  height: 90px;
  position: relative;
  background: #926645;
  overflow: hidden;
}
/*====  conteúdos ============================ */
.nav_bar {
  position: fixed;
  top: 60;
  left: 20px;
  right: 20px;
  height: 70px;
  background: #4dff17;
  z-index: 1;
  box-sizing: border-box;
}
.info_container {
  width: 70%;
  height: 400vh;
  position: relative;
  background: #c76114;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.info_apresentação {
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  background: #4dff17;
  overflow: hidden;
}
.scroll_container {
  width: 100%;
  height: 300px;
  position: relative;
  background: #4dff17;
  overflow: hidden;
}
.job_togther_container {
  width: 100%;
  height: 400px;
  position: relative;
  background: #4dff17;
  overflow: hidden;
}
.jobs_container {
  width: 100%;
  height: 400px;
  position: relative;
  background: #4dff17;
  overflow: hidden;
}
