@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.inria-sans-bold {
  font-family: "Inria Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 70px;
  background-size: cover;
  background-clip: text;
}
h2 {
  font-size: 50px;
  background-size: cover;
  background-clip: text;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  font-size: 22px;
  margin-left: 50px;
  margin-right: 520px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 20px;
  font-family: "Inria Sans", sans-serif;
  position: relative;
}
.global_container {
  min-height: calc(100vh - 40px);
  position: relative;
  background: #fdf4ed;
  overflow: hidden;
}
/*====  espaçamentos ============================ */
.espaçamento_01 {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
}
.espaçamento_02 {
  width: 100%;
  height: 110px;
  position: relative;
  overflow: hidden;
  padding-top: 70px;
}
.espaçamento_03 {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
}
/*====  nav bar ============================ */
.nav_bar {
  position: fixed;
  top: 60;
  left: 20px;
  right: 20px;
  height: 70px;

  z-index: 1;
  box-sizing: border-box;
}
#nav_bar_two_parts {
  display: flex;
  align-items: center;
}
.logo_leres {
  width: 110px;
  height: 52px;
  margin: 13px;
}
.linha-vertical {
  width: 2px;
  height: 40px;
  background-color: black;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 7px;
}
#log {
  font-family: "Inria Sans", sans-serif;
  animation: blink 1s step-end infinite;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 5px;
}
/*====  info container ============================ */
.info_container {
  width: 70%;
  height: 390vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
/*====  apresentação ============================ */
.info_apresentação {
  width: 100%;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  background: url(../imagens/background/Prancheta%2055.png) no-repeat center
    center; /* Insira o caminho da sua imagem aqui */
  background-size: 1000px;
  overflow: hidden;
}
.text_1 {
  padding-left: 50px;
  position: relative;
  z-index: 2;
}
.style_text_1 {
  margin-top: 0;
  margin-bottom: 0;
  z-index: 2;
  position: relative;
}
.style_text_2 {
  margin-top: 0px;
  z-index: 2;
  position: relative;
}
/*====  SCROLL ============================ */
.scroll_container {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.roll_down {
  margin-left: 50px;
}
.linha-vertical_2 {
  width: 1px;
  height: 200px;
  background-color: black;
  margin-left: 100px;
  margin-right: 10px;
  margin-bottom: 7px;
}
/*==== together  ============================ */
.job_togther_container {
  width: 100%;
  height: 520px;
  position: relative;
  overflow: hidden;
}
.style_text_3 {
  font-size: 50px;
  margin-left: 50px;
}
/*====  intro jobs ============================ */
.info_jobs {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
/*====  jobs  ============================ */
#controle_geral_infos{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.jobs_container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;

  align-items: center;
}
.imagens_icones{
  width: 220px;
  padding: 0px 150px 0px 150px;
}
.info_jobs_icon{
  width: 92%;
  margin: 0;
  font-size: 20px;
}
.title_job{
  margin: 0;
  padding-bottom: 30px;
}
/*====  direitos dev  ============================ */
.direitos_dev{
  display: inline-block; /* Para garantir que o transform funcione corretamente */
  transform: rotate(-90deg); /* Rotaciona o texto em 90 graus */
  transform-origin: left bottom; /* Define o ponto de origem da rotação */
  margin-left: 40px; /* Ajusta a margem esquerda conforme necessário */
  position: fixed; /* Usa posição absoluta para controlar o layout */
  top: 90%; /* Centraliza verticalmente em relação ao pai */
  left: 20px; /* Alinha à esquerda */
  white-space: nowrap;
  font-size: 15px;
}